@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/* #########   Grid Style ########  */

.container{
    width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row>*{
    width: 100%;
    padding: 0 15px;
}

.col-lg-1{
	width:8.33%;
}
.col-lg-2{
	width:16.66%;
}
.col-lg-3{
	width:25%;
}
.col-lg-4{
	width:33.33%;
}
.col-lg-5{
	width:41.66%;
}
.col-lg-6{
	width:50%;
}
.col-lg-7{
	width:58.33%;
}
.col-lg-8{
	width:66.66%;
}
.col-lg-9{
	width:75%;
}
.col-lg-10{
	width:83.33%;
}
.col-lg-11{
	width:91.66%;
}
.col-lg-12{
	width:100%;
}

.justify-content-start{
    justify-content: flex-start !important;
}
.justify-content-end{
    justify-content: flex-end !important;
}
.justify-content-between{
    justify-content: space-between !important;
}
.justify-content-around{
    justify-content: space-around !important;
}
.justify-content-evenly{
    justify-content: space-evenly !important;
}

.align-items-start{
    align-items: flex-start !important;
}
.align-items-end{
    align-items: flex-end !important;
}
.align-items-center{
    align-items: center !important;
}
.align-items-baseline{
    align-items: baseline !important;
}

.text-align-center{
	text-align: center !important;
}
.text-align-left{
	text-align: left !important;
}
.text-align-right{
	text-align: right !important;
}
.text-align-justify{
	text-align: justify !important;
}

/* ########   Footer Style    ########## */

.footer-section{
	display: flex;
	height: 100vh;
	width: 100%;
	background-color: #F6F6F6;
	/* padding: 0 50px; */
		
}

.footer-items{
	padding: 18px;
  /* background-color: #a8dadc; */
	/* margin-top: 60px; */
		
}

.footer-items h3,h4{
	margin-bottom: 20px;
}

.footer-items p{
	font-size: 12px;
}

.footer-items address{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 20px;
}

.footer-items .contacts{
	line-height: 20px;
	margin-bottom: 20px;
}

.contacts span{
	font-weight: 600;
}

.contacts a{
	text-decoration: none;
}

.contacts a:hover{
	color: #28989e;
}

.icons{
	display: flex;
	gap: 0 10px;
	width: 100%;
}

.icons span{
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 8px;
	background-color: #3FBAC0;
	border-radius: 5px;
}

.icons span:hover{
	background-color: #28989e;
	cursor: pointer;
}

.icons i{
	color: white;
}

.footer-items ul{
	padding-left: 10px;
	list-style: none;
}

.footer-items ul li{
	font-size: 12px;
	margin-bottom: 20px;
}

.footer-items ul li::before {
    content: ">";
	font-weight: 600;
    padding-right: 8px;
    color: #3FBAC0;
}

.footer-items ul li a{
	text-decoration: none;
}

.footer-items ul li a:hover{
	color: #28989e;
}

.newsletter p{
	line-height: 20px;
	margin-bottom: 20px;
}

.newsletter div{
	width: 100%;
	height: 32px;
}

.newsletter input{
	width: 75%;
	height: 100%;
	padding: 0 6px;
	border-radius: 4px 0 0 4px;
	border: 1px solid lightgray;
}


.newsletter input:focus{
	outline: none;
	box-shadow: none;
	border: 1px solid gray;
}

.newsletter button{
	width: 25%;
	height: 100%;
	border-radius: 0 4px 4px 0;
	background-color: #3FBAC0;
	color: white;
	border: none;
}

.newsletter button:hover{
	background-color: #28989e;
	cursor: pointer;
}




